#top {
  background-color: #DAAD86;
  color: white;
}
a {
  color: white;

}
a:hover {
  color: #DAAD86;
}
#cv {
  background-color: #659DBD;
  max-width: 800px;
  margin: auto;
  margin-bottom: 100px;
  font-family: 'Nunito', sans-serif;
  padding: 3%;
}
.mainDetails {
  border-bottom: 2px solid #DAAD86;
  display: flex;
  justify-content: space-between;

}
ul {
  list-style-type: none;
  position: relative;
  top: 20px;
}
